/* Custom HTML */
body{
    background-color: rgb(104, 99, 99);
}

a{
    color: red;
}
a:hover{
    color:rgb(8, 124, 160);
}

li{
    list-style-type: none;
}

::placeholder{
    color: red;
}

/* Custom Bootstrap*/
.card{
    background-color: black;
    opacity: 40%;
    width: 70%;
    margin-top: 10%;
}

.card-header{
    color: white;
}

.border-bottom{
    border: solid; 
    border-color: grey; 
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    list-style: none;
}

.text-orange{
    color: rgb(255, 166, 0);
}

.text-red{
    color: red;
}

.text-white{
    color: white;
}